  <div class="h-100 d-flex align-items-center justify-content-center">
  <mat-card class="rounded-bottom m-3">
  <mat-card-header class="bg-primary text-white p-4">
    <mat-card-title class="d-flex align-items-center">
      <mat-icon class="me-1">account_balance</mat-icon>
      Currency Converter
    </mat-card-title> 
  </mat-card-header>
  <mat-card-content class="mt-3">
    <app-conversion-form></app-conversion-form>
  </mat-card-content>
</mat-card>
</div>
<div class="vector-attribution">
  <a href="https://www.vecteezy.com/free-vector/coin"><p>Coin Vectors by Vecteezy</p></a>
  <a href="https://www.vecteezy.com/free-vector/dollar-icon"><p>Dollar Icon Vectors by Vecteezy</p></a>
</div>
